.info {
  img {
    float: left;
    height: 192px;
    width: auto;
  }
}

.contact-method {
  & .name {
    font-weight: 700;
  }
}

h3 {
  display: flex;
  align-items: center;
  img {
    flex-shrink: 0;
    height: 64px;
    width: auto;
  }
}

@media screen and (max-width: 60rem) {
  .info {
    img {
      float: none;
      display: block;
      margin: auto;
    }
  }
}
