.category-menu {
  margin-left: min(2.5%, 32px);
}

.list-container {
  display: flex;
}

.item-list {
  display: flex;
  gap: 5%;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: scroll;
  & .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-image: var(--border-image) 3;
    padding: 0 16px;
    border-radius: 24px;
    border-width: 16px;
    border-style: solid;
    width: max(100px, 16%);
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    text-align: center;
  }
}
