.category-menu {
  margin-left: min(2.5%, 32px);
}

.list-container {
  display: flex;
}

.item-list {
  display: flex;
  gap: 5%;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: scroll;
  & .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-image: var(--border-image) 3;
    padding: 0;
    border-radius: 24px;
    border-width: 16px;
    border-style: solid;
    width: max(170px, 16%);
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    text-align: center;
    font-size: clamp(0.9rem, 0.75rem + 0.25vw, 2rem);
    img {
      height: 80%;
      width: auto;
    }
  }
}
