:root {
  --border-image: url("./assets/images/Orange-Buttons--Arvin61r58.png");
}

body {
  font-family: "Pixelify Sans", sans-serif;
  padding: min(5%, 64px);
  image-rendering: pixelated;
}

header {
  margin-bottom: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  font-size: calc(1rem + 0.5vw);
  min-height: 4rem;
  align-items: center;
}

button {
  border-image: var(--border-image) 3;
  padding: 0 16px;
  border-radius: 24px;
  border-width: 16px;
  min-width: 200px;
  flex-grow: 1;
  outline: none;
  opacity: 0.5;
  height: 4rem;
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus,
  &.active {
    font-size: 1.1em;
    padding: 0 calc(16px - 0.1em);
    opacity: 1;
  }
  &:active:not(.active) {
    font-size: 1em;
  }
}

h2 {
  font-size: calc(2rem + 0.5vw);
  margin-bottom: 2rem;
}

.card {
  font-size: clamp(1rem, 4vw, 2rem);
  border-image: var(--border-image) 3;
  padding: 0 16px;
  border-radius: 24px;
  border-width: 16px;
  border-style: solid;
  max-width: min(calc(100vw - min(10%, 128px)), 500px);
  margin: 16px auto;
}
